* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h1 {
  color: yellow;
  -webkit-text-stroke: 3px blue;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1920px;
  padding-left: 64px;
}

.headline {
  color: #fdc51c;
  font-size: 104px;
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
  padding-top: 16px;
  text-decoration: none;
}

body {
  /* background-color: rgb(5, 23, 30) !important; */
  /* max-width: 1920px; */
  background-image: url(./assets/img/pokemonball.jpg);
  background-repeat: repeat-y repeat-x;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body.no-scroll {
  overflow: hidden;
}

.dialog {
  position: fixed;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0);
  top: 168px;
  /* height: 680px; */
  overflow-y: auto;
  width: 90%;
  max-width: 560px;
  background: none;
  border-style: solid;
  border-color: #08449e;
  border-width: 8px;
  border-radius: 32px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 0;
}

.dialog-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dialog-top {
  border-radius: 20px 20px 0 0;
  padding-bottom: 8px;
  position: relative;
  flex-shrink: 0;
}

.dialog-bottom {
  background-color: white;
  border-radius: 0 0 20px 20px;
  flex: 1;
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

header {
  background-image: linear-gradient(to top, red, white);
  height: 168px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  height: 60px;
  width: 100%;
  /* max-width: 1920px; */
  background-image: linear-gradient(to top, red, white);
}

.main-content {
  /* background-color: rgb(5, 23, 30); */
  /* background-image: url(./assets/img/pokemonball.jpg); */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;

}

.pokeball {
  height: 128px;
  margin: 8px;
}

.search-bar {
  height: 48px;
  width: 320px;
  margin-right: 32px;
  border-radius: 8px;
}

.pokemon-card {
  /* background-color: rgb(16 71 89); */
  background-color: #ffc107;
  color: white;
  height: 340px;
  width: 240px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border-style: solid;
  border-color: #08449e;
  border-width: 8px;
}

.pokemon-card:hover {
  box-shadow: 12px 12px 8px white;
  transform: scale(1.05);
}

.loading-more {
  display: flex;
  justify-content: center;
  padding: 24px;
}

button {
  padding: 8px;
  margin: 16px;
  cursor: pointer;
}

.button-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.loader {
  border: 32px solid #390ae6;
  border-radius: 50%;
  border-top: 32px solid #fdc51c;
  border-bottom: 32px solid #fdc51c;
  width: 240px;
  height: 240px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.d-none {
  display: none;
}

.loading-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  /* max-width: 1920px; */
  /* background-image: linear-gradient(to bottom, red, white); */
  /* padding: 24px 0 32px 0; */
  gap: 16px;
}

.pokemon-types {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 0px;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
}

.type-icon {
  width: 40px;
  height: 40px;
}

.id-name {
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
  align-items: center;
  color: white;
  padding: 8px;
  margin-top: 8px;

}

.pokemon-img {
  height: 232px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pkm-img {
  height: 120px;
}

.tab-content {
  display: none;
  padding: 20px;
  color: white;
}

.tab-content.active {
  display: block;
}

.tab-btn {
  width: 25%;
  margin: 0;
  border: none;
}

.tab-btn.active {
  border-bottom: 3px solid #e74c3c;
  color: #e74c3c;
}

.tab-navigation {
  display: flex;
  justify-content: center;
  gap: 8px;
  background-color: #f1f0f0;
  opacity: 0.8;
}

.tab-stats {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.stats-tab {
  color: black;
}

.stats-row {
  gap: 4px;
  display: flex;
}

.stat-names {
  background-color: #f1f0f0;
  opacity: 0.8;
  color: black;
  border-radius: 5px;
  height: 24px;
  width: 128px;
  padding-left: 8px;
}

#main-tab p {
  background-color: #f1f0f0;
  opacity: 0.8;
  color: black;
  border-radius: 5px;
  height: 28px;
  width: 196px;
  padding-left: 8px;
}

.evolution-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 20px;
}

.evolution-stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

.evolution-stage p {
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: #333;
}

.evolution-names {
  background-color: #f1f0f0;
  opacity: 0.8;
  color: black;
  border-radius: 5px;
  min-width: 96px;
}

.arrow {
  font-size: 48px;
  color: #00ceff;
  font-weight: bold;
  font-family: "Cherry Bomb One", system-ui;
}

.loading-text {
  text-align: center;
  font-style: italic;
  color: #666;
}

.arrow-buttons {
  background: none;
  border: none;
  font-size: 24px
}

.close-button {
  border: none;
  background: none;
  position: absolute;
  top: 8px;
  right: 16px;
  color: #312d2de6;;
  font-size: 40px;
  font-weight: 400;
  font-family: "Cherry Bomb One", system-ui;
  cursor: pointer;
}

@media(min-width: 320px) and (max-width: 768px) {
  .dialog {
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: none;
    max-width: none;
  }

  .dialog-top {
    border-radius: 0;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .dialog-bottom {
    border-radius: 0;
  }

  .pokeball {
    display: none;
  }

  body {
    background-repeat: repeat;
    background-size: auto;
  }

  .header-content {
    flex-direction: column;
    padding-bottom: 16px;
    padding-top: 16px;
  }

  .headline {
    font-size: 48px;
  }

  .pokemon-img {
    height: 112px;
  }

  .pkm-img {
    height: 104px;
    padding-bottom: 8px;
  }

  .pokemon-card {
    height: 232px;
  }

  .pkm-id-and-img {
    display: flex;
    flex-direction: column;
    gap: 68px;
    height: 270px;
    
  }
}

  @media(min-width: 320px) and (max-width: 550px) {
    .evolution-container {
      flex-direction: column;
    }

    .arrow {
      transform: rotate(90deg);
    }
  }

  @media(min-width: 768px) and (max-width: 1024px) {
    .headline {
      font-size: 48px;
    }

    .search-bar {
      width: 240px;
    }

  }

  .progress-row {
    color: black;
    gap: 24px;
  }

  .no-results {
    text-align: center;
    font-size: 24px;
    color: white;
    padding: 40px;
  }

  .load-button {
    font-family: "Cherry Bomb One", system-ui;
    height: 48px;
    width: 120px;
    background-color: rgb(245, 82, 82);
    border-radius: 16px;
    padding: 8px;
  }

  .stat-bars {
    background-color: #390ae6;
  }

  .stat-bars-container {
    flex: 1;
  }

  .stat-value {
    background-color: #f1f0f0;
    opacity: 0.8;
    color: black;
    border-radius: 5px;
    height: 24px;
    width: 44px;
    padding-left: 8px;
    padding-right: 8px;
  }

