* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(5, 23, 30) !important;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body.no-scroll {
  overflow: hidden;
}

.dialog {
  position: fixed;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0);
  top: 148px;
  height: 680px;
  overflow-y: auto;
  width: 90%;
  max-width: 560px;
  /* background-color: rgb(8, 33, 41); */
  background-image: url(./assets/img/pokemonball.jpg);
  border-style: solid;
  border-color: #08449e;
  border-width: 8px;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

header {
  /* background-color: rgb(8, 33, 41); */
  /* background-image: url(./assets/img/pokemonball.jpg); */
  background-image: linear-gradient(to top, red, white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 148px;
  width: 100%;
  padding: 0px 48px;
}

footer {
  height: 60px;
  width: 100%;
  max-width: 1920px;
  background-image: linear-gradient(to top, red, white);
}

.main-content {
  /* background-color: rgb(5, 23, 30); */
  background-image: url(./assets/img/pokemonball.jpg);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  width: 100%;
  max-width: 1920px;


}

.pokeball {
  height: 128px;
  margin: 8px;
}

.search-bar {
  height: 48px;
  width: 320px;
  margin-right: 32px;
  border-radius: 8px;
}

.headline {
  color: white;
  font-size: 80px;
}

.pokemon-card {
  /* background-color: rgb(16 71 89); */
  background-color: #ffc107;
  color: white;
  height: 340px;
  width: 240px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border-style: solid;
  border-color: #08449e;
  border-width: 8px;
}

.pokemon-card:hover {
  box-shadow: 12px 12px 8px white;
  transform: scale(1.05);
}

.loading-more {
  display: flex;
  justify-content: center;

}

button {
  padding: 8px;
  margin: 16px;
  cursor: pointer;
}

.button-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.loader {
  border: 32px solid #f3f3f3;
  border-radius: 50%;
  border-top: 32px solid grey;
  border-bottom: 32px solid grey;
  width: 240px;
  height: 240px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.d-none {
  display: none;
}

.loading-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  max-width: 1920px;
  background-image: linear-gradient(to bottom, red, white);
  padding: 24px 0 32px 0;
}

.pokemon-types {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 0px;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
}

.type-icon {
  width: 40px;
  height: 40px;
}


.id-name {
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
  align-items: center;
  color: white;
  padding: 8px;
  margin-top: 8px;

}

.pokemon-img {
  height: 232px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pkm-img {
  height: 190px;
}

.tab-content {
  display: none;
  padding: 20px;
  color: white;
}

.tab-content.active {
  display: block;
}

.tab-btn {
  width: 25%;
  margin: 0;
  border: none;
}

.tab-btn.active {
  border-bottom: 3px solid #e74c3c;
  color: #e74c3c;
}

.tab-navigation {
  display: flex;
  justify-content: center;
  gap: 8px;
  background-color: #f1f0f0;
  opacity: 0.8;
}

.tab-stats {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.stats-tab {
  color: black;
}

.stats-row {
  gap: 4px;
}


.stat-names {
  background-color: #f1f0f0;
  opacity: 0.8;
  color: black;
  border-radius: 5px;
  height: 24px;
  width: 128px;
  padding-left: 8px;
}

#main-tab p {
  background-color: #f1f0f0;
  opacity: 0.8;
  color: black;
  border-radius: 5px;
  height: 28px;
  width: 196px;
  padding-left: 8px;
}

.evolution-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 20px;
}

.evolution-stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  background-color: #f5f5f5;
  border-radius: 8px;
  min-width: 100px;
  border: solid 4px blue;

}

.evolution-stage p {
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: #333;
}

.arrow {
  font-size: 48px;
  color: red;
  font-weight: bold;
}

.loading-text {
  text-align: center;
  font-style: italic;
  color: #666;
}

.arrow-buttons {
  background: none;
  border: none;
  font-size: 40px
}

.close-button {
  height: 40px;
}


@media(min-width: 320px) and (max-width: 768px) {
  .dialog {
    height: 400px;
  }

  .pokeball {
    display: none;
  }

  .search-bar {}

  header {
    flex-direction: column;
    padding-bottom: 16px;
    padding-top: 16px;
  }

  .headline {
    font-size: 48px;
  }

  .pokemon-img {
    height: 96px;
  }

  .pkm-img {
    height: 88px;
  }

  .pokemon-card {
    height: 232px;
  }

  .id-name {
    padding-right: 104px;
  }
}

@media(min-width: 768px) and (max-width: 1024px) {
  .headline {
    font-size: 48px;
  }

  .search-bar {
    width: 240px;
  }
}

@media(min-width: 1024px) and (max-width: 1920px) {}

.progress-row {
  color: black;
  gap: 24px;
}