* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(5, 23, 30);
}

body.no-scroll {
    overflow: hidden;
}

header {
  background-color: rgb(8, 33, 41);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 148px;
}

footer {
  background-color: rgb(8, 33, 41);
  height: 128px;
}

.main-content {
  background-color: rgb(5, 23, 30);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;


}

.pokeball {
  height: 128px;
  margin: 8px;
}

.search-bar {
  height: 48px;
  width: 320px;
  margin-right: 32px;
  border-radius: 8px;
}

.headline {
  color: white;
  font-size: 80px;
}

.pokemon-card {
  background-color: rgb(8, 33, 41);
  color: white;
  height: 320px;
  width: 240px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pokemon-card:hover {
  box-shadow:  5px 10px 10px white;
  transform: scale(1.05);
}

.load-more {
  display: flex;
  justify-content: center;
}

button {
  padding: 8px;
  margin: 16px;
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  border-bottom: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.pokemon-types {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.type-icon {
    width: 40px;
    height: 40px;
}


.id-name {
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pokemon-img {
  height: 232px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pkm-img  {
  height: 190px;
}
