* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

header {
    background-color: rgb(8, 33, 41);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 148px;
}

footer {
    background-color: rgb(8, 33, 41);
    height: 100vh;
}

.main-content {
    background-color: rgb(5, 23, 30);
}

.pokeball {
    height: 128px;
    margin: 8px;
}

.search-bar {
    height: 48px;
    width: 320px;
    margin-right: 32px;
    border-radius: 8px;
}

.headline {
    color: white;
    font-size: 80px;
}

.pokemon-card {
    background-color: rgb(8, 33, 41);
    color: white;
    height: 320px;
    width: 240px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  border-bottom: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.pokemon {
  position: relative;
  height: 112px;
  width: 112px;
  background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50% );
  border-radius: 50%;
  border: 8px solid black;
  animation: spin 8s linear infinite;
}

.pokemon::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 100px;
  background: black;
  top: 50px;
  transform: translatey(-50%);
}

.pokemon::after {
  content: '';
  position: absolute;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background: white;
  top: 50px;
  left: 50px;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 8px black, inset 0 0 0 10px white, inset 0 0 0 12px black;

}

/* Spin Animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}